In [64]:
import pandas as pd

In [65]:
pd.__version__

'2.2.3'

In [ ]:
#import and read data file and filter to 100 rows

In [66]:
df= pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [67]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1.0,4.13,1.0,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5,NaN
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2.0,4.12,1.0,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5,NaN
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2.0,2.22,1.0,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5,NaN
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1.0,7.11,1.0,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0,NaN
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3.0,1.61,1.0,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,NaN

In [ ]:
#CONNECTING THE CSV FILE TO POSTGRES

In [68]:
from sqlalchemy import create_engine

In [69]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [70]:
engine.connect()

In [ ]:
#TRANSFORM METADATA OF DATETIME

In [71]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [78]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [79]:
df_iter= pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True, chunksize=100000)

In [80]:
df_iter

In [81]:
df =next (df_iter)

In [82]:
len(df)

100000

In [ ]:
#INGESTING THE HEADERS FIRST INTO POSTGRES

In [83]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [85]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [61]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [ ]:
#INGESTING THE REST OF THE DATA IN CHUNKS OF 100000

In [86]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 9.23 s
Wall time: 17.7 s

1000

In [87]:
from time import time

In [88]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, rook %.3f second' % (t_end - t_start))

inserted another chunk, rook 18.610 second
inserted another chunk, rook 15.282 second
inserted another chunk, rook 15.537 second
inserted another chunk, rook 15.144 second
inserted another chunk, rook 15.516 second
inserted another chunk, rook 15.872 second

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4192\2037756380.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk, rook 17.722 second
inserted another chunk, rook 15.260 second
inserted another chunk, rook 16.419 second
inserted another chunk, rook 19.582 second
inserted another chunk, rook 19.310 second

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4192\2037756380.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, rook 16.826 second
inserted another chunk, rook 16.538 second

StopIteration:

In [37]:
query = """
SELECT
    tpep_pickup_datetime,
    tpep_dropoff_datetime,
    COUNT(*)
FROM
    yellow_taxi_data
GROUP BY
    tpep_pickup_datetime,
    tpep_dropoff_datetime
HAVING
    COUNT(*) > 1;
"""

# Execute the query and fetch results
duplicates = pd.read_sql(query, engine)
print("Duplicate rows:")
print(duplicates)

Duplicate rows:
       tpep_pickup_datetime tpep_dropoff_datetime  count
0       2021-01-01 21:17:11   2021-01-01 21:22:45      2
1       2021-01-01 16:30:53   2021-01-01 16:37:27      2
2       2021-01-01 18:02:17   2021-01-01 18:09:19      2
3       2021-01-01 17:05:33   2021-01-01 17:11:40      2
4       2021-01-01 14:00:15   2021-01-01 14:06:12      2
...                     ...                   ...    ...
106647  2021-01-27 20:55:09   2021-01-27 20:56:54      2
106648  2021-01-28 10:19:55   2021-01-28 10:26:15      2
106649  2021-01-27 18:23:01   2021-01-27 18:34:12      2
106650  2021-01-06 17:36:00   2021-01-06 18:07:00      2
106651  2021-01-26 18:22:27   2021-01-26 18:33:44      2

[106652 rows x 3 columns]

In [38]:
delete_query = """
WITH duplicates AS (
    SELECT
        ctid,
        ROW_NUMBER() OVER (
            PARTITION BY tpep_pickup_datetime, tpep_dropoff_datetime
            ORDER BY ctid
        ) AS row_num
    FROM
        yellow_taxi_data
)
DELETE FROM
    yellow_taxi_data
WHERE
    ctid IN (
        SELECT
            ctid
        FROM
            duplicates
        WHERE
            row_num > 1
    );
"""

with engine.connect() as connection:
    connection.execute(delete_query)
    print("Duplicates removed successfully!")

ObjectNotExecutableError: Not an executable object: '\nWITH duplicates AS (\n    SELECT\n        ctid,\n        ROW_NUMBER() OVER (\n            PARTITION BY tpep_pickup_datetime, tpep_dropoff_datetime\n            ORDER BY ctid\n        ) AS row_num\n    FROM\n        yellow_taxi_data\n)\nDELETE FROM\n    yellow_taxi_data\nWHERE\n    ctid IN (\n        SELECT\n            ctid\n        FROM\n            duplicates\n        WHERE\n            row_num > 1\n    );\n'

In [39]:
from sqlalchemy import text

# Your delete query
delete_query = """
WITH duplicates AS (
    SELECT
        ctid,
        ROW_NUMBER() OVER (
            PARTITION BY tpep_pickup_datetime, tpep_dropoff_datetime
            ORDER BY ctid
        ) AS row_num
    FROM
        yellow_taxi_data
)
DELETE FROM
    yellow_taxi_data
WHERE
    ctid IN (
        SELECT
            ctid
        FROM
            duplicates
        WHERE
            row_num > 1
    );
"""

# Execute the query
with engine.connect() as connection:
    connection.execute(text(delete_query))  # Wrap the query with text()
    connection.commit()  # Commit the transaction
    print("Duplicates removed successfully!")

Duplicates removed successfully!

In [40]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, rook %.3f second' % (t_end - t_start))

StopIteration: